<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar" style="background: lightgrey; width: 100%; text-align: center;">
      Nav

      <%= link_to "About", about_us_path %>
      <%= link_to "Home", root_path %>
      <%= link_to "Contact", contact_path  %>
    </div>

     <p>Today's date is: <%= Date.today %></p>
     pe + tab = with printing
     er + tab = without printing
    <%= yield %>
    <p>My simple footer</p>
  </body>
</html>
